@model Quarto

<h2>Quarto: @Model.codigo</h2>
<table>
    <thead>
    <th>ID</th>
    <th>Codigo</th>
    <th>Descricao</th>
    </thead>
    <tbody>
        <tr>
            <td>@Model.id</td>
            <td>@Model.codigo</td>
            <td>@Model.descricao</td>
        </tr>
    </tbody>
</table>